@tailwind base;

@layer base {
  h1 {
    @apply py-2 text-2xl
  }
  p {
    @apply inline py-1
  }
  ol { 
    @apply list-inside list-decimal
  }
  ul {
    @apply list-inside list-disc marker:text-neutral-300;
  }
  table {
    @apply my-2 table-auto
  }
  th, td {
    @apply p-2 border
  }
  hr {
    @apply mx-1 my-2
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 41, 36, 35;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
